
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 8px;
}


//tela inicial e imagem inicial
.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient( to bottom, rgba(6,18,30,0.1), #06121e), url("../assets/capa-central.jpeg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}
//fim tela inicial e imagem inicial


//mensagem inicial
.hero{
    color: $white-normal;
    min-height: 65vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 20px;
    }

    p{
        text-align: center;
        margin: 14px 0;
    }
}
//fim mensagem inicial


//botao de agendamento central
.button-contact{
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border:0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}


.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;

}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
    
}
//fim botao de agendamento central


//responsividade mobile adaptando a imagem inicial e mensagem central
@media screen and (max-width: 768px) {
    .hero{
        min-height: 60vh;

        h1{
            font-size: 17px;
            padding: 0 14px;
            width: 100%;
            
        }

        p{
            font-size: 14px;
        }
    }
    
}


@media screen and (max-width: 480px) {
    .hero h1{
        font-size: 14px;
    }  
}

//fim responsividade mobile adaptando a imagem inicial e mensagem central
 


//sessao about - SOBRE
.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}


.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img{
       max-width: 570px;
    }
}


.about-content div{
  flex: 1;  
}

.about-description{
    h2{
        font-size: 29px;
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
    
    }
}

//responsividade adapdanddo em coluna a imagem de cortes
@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
    
}
//fim sessao about - SOBRE



//sessao - services - SERVICOS
.services {
    background-color: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
}

.services-content p{
   line-height: 150%;
   margin-bottom: 14px;
   text-align: center;
   max-width: 780px; 
}

.haircuts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 44px 34px 44px;
}

.haircut{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.45);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 300px;
        transition: transform 0.2s;
    }
}

.haircut img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    z-index: 99;
}

.haircut-info button {
    color: $white-normal;
    background-color: $red-normal;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}

//responsividade adapdanddo em coluna as fotos de cortes
@media screen and (max-width: 768px) {
    .haircuts{
        flex-direction: column;
    }

    .haircut img{
        max-width: 420px;
    }
    
}
//fim Sessao - services - SERVICOS


//sessao - equipe- equipe de barbeiro
.equipe {
    background-color:  rgba(6,18,30,0.1), #06121e;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.equipe-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
}

.equipe-content p{
   line-height: 150%;
   margin-bottom: 14px;
   text-align: center;
   max-width: 780px; 
}

.barbeiros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 44px 34px 44px;
}

.barbeiro{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $black-normal;
    color: $black-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px, rgba(0,0,0, 0.45);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 300px;
        transition: transform 0.2s;
    }
}

.barbeiro img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.barbeiro-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    z-index: 99;
}

.barbeiro-info button {
    color: $white-normal;
    background-color: $red-normal;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}

//responsividade adapdanddo em coluna as fotos dos barbeiros
@media screen and (max-width: 768px) {
    .barbeiros{
        flex-direction: column;
    }

    .barbeiro img{
        max-width: 420px;
    }
    
}
// fim sessao - equipe- equipe de barbeiro



//inicio Footer
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    gap: 24px;
    color: $white-normal;

    
    p{
        text-align: center;
        margin-top: 20px;
    }
}


.footer-icons {
    display: flex;
    gap: 14px;
    color: $white-normal;
}


//logo da barbearia no rodape
.footer-logo img  {
  max-width: 200px;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


//efeito nos icones de redes sociais de  cor vermelha e infinido pulo
.footer-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light
    }

}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}
//fim Footer


//botao fixo de whatsaap
.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
}

.btn-whatsapp img  {
    max-width: 74px;
    transition: transform 0.4s;
  
}

.btn-whatsapp img:hover  {
    transform: scale(1.1);
}


.btn-whatsapp .tooltip-text{
   visibility: hidden;
   position: absolute; 
   width: 120px;
   top: 8px;
   left: -144px;
   padding: 6px;
   border-radius: 8px;
   text-align: center;
   background-color: $black-normal;
   color: $white-normal;
   opacity: 0;
   transition: opacity 0.4s;


}


.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

//responsividade para diminuir a botao em MB
@media screen and (max-width: 768px) {
    .btn-whatsapp{
        img{
            max-width: 50px;
        }
    }
    
    
}
//fim botao fixo de whatsaap
